#banner {
    width: 100%;
}
.principal {

    background: #cccccc;
    padding: 30px;
}
h1 {
    padding-left: 20px;
}
.texto-centro {

    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: red;
}

.beneficios {

    background: #ffffff;
    padding: 20px;
}

.itens {

    font-style: italic;
}

ul {

    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imgbene {

    width: 50%;
}




